@using Microsoft.AspNetCore.Identity
@using SystemIdentity.Areas.Identity.Data
@inject UserManager<SystemUser> um
@{
    ViewData["Title"] = "Home Page";
    SystemUser user = ViewBag.User;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if(User.Identity.IsAuthenticated)
{
    <h1>My cars:</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Car car in user.MyCar)
            {
                <tr>
                    <td>@car.Brand</td>
                    <td>@car.Model</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>No one is logged in</h2>
}